<%- include('./partials/head') %>


    <main class="addProduct">


        <h1>Add A New PRODUCT</h1>
        <form action="/add" method="post">
            <input type="text" placeholder="Product-name" name="product" required>
            <input type="text" name="url" placeholder="Url Picture" required>
            <input type="text" name="compagny" placeholder="Compagny" required>
            <input type="number" name="price" placeholder="Price" required>
            <textarea name="description" cols="30" rows="10" placeholder="Write your article here....."
                required></textarea>
            <input type="submit" value="ADD PRODUCT">
        </form>
        <div class="line">
            <div class="line1"></div>
            <img class="eyes" src="/assets/img/eyes.png" alt="">
            <div class="line2"></div>
        </div>
        <h1>RANDOM PRODUCT</h1>
        <div class="random">
            <% for(let item=0; item<6; item++){%>
                <figure class="shop-article">
                    <a href="/add/<%= data[item]._id %> ">
                        <img src=<%=data[item].url %> alt="">
                    </a>
                    <figcaption>
                        <div>
                            <h2>
                                <%= data[item].product %>
                            </h2>
                            <span>
                                <%= data[item].compagny%>
                            </span>
                        </div>
                        <p>
                            $<%= data[item].price %>.00
                        </p>

                    </figcaption>
                </figure>
                <% } %>


        </div>
    </main>
    <%- include('./partials/footer') %>