<%- include('./partials/head') %>
    <main class="edit">
        <figure class="shop-article">
            <img src=<%=data.url %> alt="">

            <figcaption>
                <div>
                    <h2>
                        <%=data.product%>
                    </h2>
                    <span>
                        <%=data.compagny%>
                    </span>
                </div>
                <p>
                    $<%=data.price%>.00
                </p>
            </figcaption>
        </figure>
        <h3>Product Description:</h3>
        <p class="description">
            <%= data.description %>
        </p>
        <h1>EDIT PRODUCT</h1>
        <form action="/add/<%= data._id%>/edit" method="post">
            <input type="text" value="<%=data.product%>" name="product" required>
            <input type="text" name="url" value="<%= data.url%>" required>
            <input type="text" name="compagny" value="<%= data.compagny%>" required>
            <input type="number" name="price" value="<%= data.price%>" required>
            <textarea name="description" cols="30" rows="5" required><%= data.description %></textarea>
            <input type="submit" value="EDIT PRODUCT">
        </form>
    </main>


    <%- include('./partials/footer') %>