<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <figure>
        <img src=<%=data.url %> alt="">
    </figure>
    <p>
        <%= data.description %>
    </p>
    <form action="/add/<%= data._id%>/edit" method="post">
        <input type="text" value="<%=data.product%>" name="product" required>
        <input type="text" name="url" value="<%= data.url%>" required>
        <input type="text" name="compagny" value="<%= data.compagny%>" required>
        <input type="number" name="price" value="<%= data.price%>" required>
        <textarea name="description" cols="30" rows="10" required><%= data.description %></textarea>
        <input type="submit" value="EDIT PRODUCT">
    </form>
</body>
</body>

</html>