<%- include('./partials/head') %>
    <main class="all">
        <% data.forEach(element=> {%>
            <figure class="shop-article">
                <a href="/add/<%= element._id %> ">
                    <img src=<%=element.url %> alt="">
                </a>
                <figcaption>
                    <div>
                        <h2>
                            <%= element.product %>
                        </h2>
                        <span>
                            <%= element.compagny%>
                        </span>
                    </div>
                    <p>
                        $<%= element.price %>.00
                    </p>

                </figcaption>
            </figure>
            <%}); %>
    </main>
    <%- include('./partials/footer') %>