<%- include('./partials/head') %>
    <main class="item">
        <section>
            <a href="/add/<%=data._id%>/edit">Edit</a>
            <a href="/add/<%=data._id%>/delete">Delete</a>
        </section>

        <figure class="shop-article">
            <img src=<%=data.url %> alt="">

            <figcaption>
                <div>
                    <h2>
                        <%=data.product%>
                    </h2>
                    <span>
                        <%=data.compagny%>
                    </span>
                </div>
                <p>
                    $<%=data.price%>.00
                </p>
            </figcaption>
        </figure>
        <h3>Product Description:</h3>
        <p class="description">
            <%= data.description %>
        </p>
        <div class="buy-button">
            <button>BUY PRODUCT</button>
        </div>
    </main>

    <%- include('./partials/footer') %>